In [2]:
#Importing libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from imblearn.over_sampling import RandomOverSampler

In [3]:
#Loading data
data = pd.read_csv('C:/Users/bhavi/OneDrive/Desktop/Data/Porto Seguro Safe Driver Prediction_train.csv')

In [4]:
#Checking data
data.head()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [5]:
#Checking the shape of the data
data.shape

(595212, 59)

In [6]:
#Checking target features count
data['target'].value_counts()

0    573518
1     21694
Name: target, dtype: int64

In [7]:
#Checking target features event rate
data['target'].value_counts() / data.shape[0]*100

0    96.355248
1     3.644752
Name: target, dtype: float64

In [8]:
#Splitting the data into X & y
X = data.drop(columns='target', axis=1)
y = data['target']
X.shape, y.shape

((595212, 58), (595212,))

In [21]:
#Creating a dataframe which will capture the count of X & y with different techniques
data_table = pd.DataFrame()
data_table['technique'] = ['Original Data']
data_table['X_shape'] = [X.shape[0]]
data_table['y_shape'] = [y.shape[0]]
data_table['0']=[y.value_counts()[0]]
data_table['1']=[y.value_counts()[1]]
data_table

       technique  X_shape  y_shape       0      1
0  Original Data   595212   595212  573518  21694

# Oversampling using RandomOverSampler(Auto)

In [11]:
#Performing under sampling method Random over sampler
os = RandomOverSampler()
X_os, y_os = os.fit_sample(X,y)

In [15]:
#Checking the shape of the data
X_os.shape, y_os.shape
#573518*2

((1147036, 58), (1147036,))

In [22]:
#Updating data table
new_row = {'technique':'Over Sampling Random Over Sampler Auto',
 'X_shape':X_os.shape[0],
 'y_shape':y_os.shape[0],
 '0': y_os.value_counts()[0],
 '1': y_os.value_counts()[1]}
data_table=data_table.append(new_row, ignore_index=True)
data_table

                                technique  X_shape  y_shape       0       1
0                           Original Data   595212   595212  573518   21694
1  Over Sampling Random Over Sampler Auto  1147036  1147036  573518  573518

# Oversampling using RandomOverSampler(Half)

In [23]:
#Performing under sampling method Nearmiss
os2 = RandomOverSampler(sampling_strategy=0.5)
X_os2, y_os2 = os2.fit_sample(X,y)

In [24]:
#Checking the shape of the data
X_os2.shape, y_os2.shape

((860277, 58), (860277,))

In [25]:
#Updating data table
new_row2 = {'technique':'Over Sampling Random Over Sampler Half',
 'X_shape':X_os2.shape[0],
 'y_shape':y_os2.shape[0],
 '0': y_os2.value_counts()[0],
 '1': y_os2.value_counts()[1]}
data_table=data_table.append(new_row2, ignore_index=True)
data_table

                                technique  X_shape  y_shape       0       1
0                           Original Data   595212   595212  573518   21694
1  Over Sampling Random Over Sampler Auto  1147036  1147036  573518  573518
2  Over Sampling Random Over Sampler Half   860277   860277  573518  286759